@import "../variables";

.Footer{
	padding: 2em 1em;
	&__social{
		display: flex;
		padding: 1em 0;
		order: 1;
	}
	&__icon{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 1em;
		&:last-of-type{
			margin-right: 0;
		}
	}
	&__icon svg{
		width: 24px;
		fill: $brandColor;
	}
	&__links{
		display: flex;
		justify-content: space-between;
		max-width: 350px;
		padding: 2em 0 0;
		& a{
			margin-right: min(4vw, 2em);
			color: white;
			text-decoration: none;
			&:last-of-type{
				margin-right: 0;
			}
		}
	}
	@media only screen and (min-width: 768px) {
		&{
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			justify-items: center;
			align-items: center;
		}
		&__links{
			padding: 2em 0;
		}
	}
}